<h1 class="header">HTS TRAINING</h1>

<!-- Section 1 -->
<div class="w-100 mb-4 d-flex flex-wrap justify-content-center">
    <div class="form-row">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Rapid Training</mat-label>
            <input matInput type="date" name="rapid_training">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Integrated Training</mat-label>
            <input matInput type="date" name="integrated_training">
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>HIVST For CBDAs</mat-label>
            <input matInput type="date" name="hiv_cbdas">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>HIVST For Health Workers</mat-label>
            <input matInput type="date" name="hiv_health_workers">
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Continious Quality Improvement</mat-label>
            <input matInput type="date" name="hiv_continous_quality_improvement">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Counselling</mat-label>
            <input matInput type="date" name="Counselling">
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Rapid Test Continious</mat-label>
            <input matInput type="date" name="rapid_test">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Dissemination Meetings</mat-label>
            <input matInput type="date" name="dissemination">
        </mat-form-field>
    </div>

    <div class="form-row">
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>M and E Training</mat-label>
            <input matInput type="date" name="mande_training">
        </mat-form-field>
    </div>
    
    <div class="text-center mt-4">
        <button type="submit"class="btn btn-primary centered-button">Submit</button>
    </div>
</div>