<form (ngSubmit)="onSubmit(facilitatorTrainee.value)">
  <div class="add-user-form">
    <h1 class="header">Demographic Information</h1>
    <div class="example-container w-100 mb-4 d-flex flex-wrap justify-content-center">
      <div class="form-row">
        <mat-form-field class="example-full-width">
          <mat-label>Province</mat-label>
          <mat-select id="province_id" [(ngModel)]="selectedProvince" name="province_id"
            (selectionChange)="onProvinceChange()" required>
            <mat-option *ngFor="let province of provinces" [value]="province.province_id">{{ province.provinceName
              }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>District</mat-label>
          <mat-select id="district_id" [(ngModel)]="selectedDistrict" name="district_id"
            (selectionChange)="onDistrictChange()" required>
            <mat-option *ngFor="let district of districts" [value]="district.district_id">{{ district.districtName
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="example-full-width">
          <mat-label>Facility</mat-label>
          <mat-select id="facility_id" [(ngModel)]="selectedFacility" name="facility_id"
            (selectionChange)="onFacilityChange($event)" required>
            <mat-option *ngFor="let facility of facilities" [value]="facility.facility_id">{{ facility.facilityName
              }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ID Number (00-000000A00)" name="basic_information_id"
            [formControl]="idNumberFormControl" (input)="formatIdNumber($event)"
            [(ngModel)]="demographic.basic_information_id" maxlength="12"/>
          <mat-error *ngIf="idNumberFormControl.hasError('pattern')">
            Invalid ID Number format. Please enter a valid ID.
          </mat-error>
        </mat-form-field>

      </div>
      <div class="form-row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" name="name" [(ngModel)]="demographic.name" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input matInput placeholder="Surname" name="surname" [(ngModel)]="demographic.surname" required>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone Number" name="phone_number" [formControl]="phoneNumberFormControl"
            (input)="formatPhoneNumber($event)" [(ngModel)]="demographic.phone_number" maxlength="10"/>
          <mat-error *ngIf="phoneNumberFormControl.hasError('pattern')" >
            Invalid phone number format. Please enter a valid number.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Sex</mat-label>
          <mat-select name="sex" [(ngModel)]="demographic.sex" required>
            <mat-option value="Male">Male</mat-option>
            <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="example-full-width">
          <mat-label>Job Title</mat-label>
          <mat-select id="title" [(ngModel)]="selectedTitle" name="title" (selectionChange)="onTitleChange()" required>
            <mat-option *ngFor="let title of titles" [value]="title.title_id">{{ title.title
              }}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Designation</mat-label>
          <mat-select id="designation_id" [(ngModel)]="selectedDesignation" name="designation_id"
            (selectionChange)="onDesignationChange($event)" required>
            <mat-option *ngFor="let designation of designations" [value]="designation.designation_id">{{
              designation.designation
              }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-form-field class="example-full-width">
          <mat-label>Facilitator/Trainee</mat-label>
          <mat-select #facilitatorTrainee name="facilitator_trainee" required>
            <mat-option *ngFor="let option of ['Facilitator', 'Trainee']" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="text-center mt-4">
        <button type="submit" class="btn btn-primary centered-button">Submit</button>
      </div>
    </div>
  </div>
</form>