/* Custom CSS for navigation bar */

nav {
    margin-bottom: 20px; /* Add some spacing below the navigation bar */
  }
  
  .mat-toolbar {
    display: flex;
    align-items: center;
  }
  
  .spacer {
    flex: 1; /* This will push the next element to the right */
  }
  
  .logged-in-user {
    margin-left: 10px; /* Add some space between the menu and the user information */
  }
  
  