<div class="container">
  <!-- Header -->

  <div class="form-row">
    <mat-form-field class="example-full-width">
      <mat-label>Name of Training</mat-label>
      <mat-select>
        <mat-option value="name1">Basic</mat-option>
        <mat-option value="name2">Shangring</mat-option>
        <mat-option value="name3">FG Conversion</mat-option>
        <mat-option value="name4">DS Conversion</mat-option>
        <mat-option value="name5">TOT</mat-option>
        <!-- Add more options as needed -->
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Trainer Name(s)</mat-label>
    <mat-select placeholder="Select Trainer(s)" multiple>
      <mat-option *ngFor="let trainer of trainers" [value]="trainer">{{trainer}}</mat-option>
    </mat-select>
    </mat-form-field>
  </div>

  <div class="row">
    <!-- Number of Days -->
    <mat-form-field class="third-width">
      <mat-label>Number of Days</mat-label>
      <input matInput type="number" placeholder="Enter number of days">
    </mat-form-field>

    <!-- Start Date -->
    <mat-form-field class="third-width">
      <mat-label>Start Date</mat-label>
      <input matInput type="date" placeholder="Start Date">
    </mat-form-field>

    <!-- End Date -->
    <mat-form-field class="third-width">
      <mat-label>End Date</mat-label>
      <input matInput type="date" placeholder="End Date">
    </mat-form-field>
  </div>

  <div class="form-row">
    <mat-form-field class="example-full-width">
      <mat-label>Training Type</mat-label>
      <mat-select>
        <mat-option value="type1">Training of Trainers</mat-option>
        <mat-option value="type2">In-service Training</mat-option>
        <mat-option value="type3">Pre-service training</mat-option>
        <mat-option value="type4">On the Job Training/Mentorship</mat-option>
        <mat-option value="type5">Refresher retraining</mat-option>
        <!-- Add more options as needed -->
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Supporting Organisation</mat-label>
      <mat-select>
        <mat-option value="NGOs">MoHCC</mat-option>
        <mat-option value="other">Zim-TTECH</mat-option>
        <mat-option value="NGOs">PSH</mat-option>
        <mat-option value="other">OPHID</mat-option>
        <mat-option value="NGOs">WHO</mat-option>
        <mat-option value="other">Other</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Method of Training -->
  <fieldset>
    <legend>Method of Training</legend>
    <div>
      <mat-checkbox>Level 1: Classroom/Didactic</mat-checkbox>
      <mat-checkbox>Level 2: Skills-Building/Participatory (e.g., case discussions, small group discussions, simulated patients)</mat-checkbox>
      <mat-checkbox>Level 3: Practicum (e.g. preceptorship, clinical practicum, or mini-residencies)</mat-checkbox>
      <mat-checkbox>Level 4: On-Site Mentoring (e.g. clinical mentoring or on-site training in using new EHR system)</mat-checkbox>
      <mat-checkbox>Level 5: Distance Consultation – online, email, or phone</mat-checkbox>
      <mat-checkbox>Level 6: Blended learning</mat-checkbox>
      <!-- Add more checkboxes as needed -->
    </div>
  </fieldset>

  <div class="form-row">
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Comments</mat-label>
        <textarea matInput name="comments" style="height: 200px;"></textarea>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Remarks</mat-label>
        <textarea matInput name="remarks" style="height: 200px;"></textarea>
    </mat-form-field>
</div>

  <!-- Submit Button -->
  <div class="center">
    <button type="submit" class="btn btn-primary centered-button">Submit</button>
  </div>
</div>